:root {
  --shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans';
}

/* typography */
h1 {
  font-size: 2.5rem;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.contact-link {
  color: black;
  margin: 0.25rem;
}

/* section */
.section {
  margin: 0 auto;
  width: 450px;
}

/* intro */
.intro {
  border: 1px dashed lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.intro code {
  background: #eee;
  padding: 1rem;
}

/* work card */
.work-card {
  margin-bottom: 3rem;
}

.work-card img {
  box-shadow: var(--shadow);
  max-width: 100%;
}

.work-subtitle {
  margin-bottom: 0.5rem;
}

.work-tools {
  background: #eee;
  padding: 1rem;
  margin: 1.5rem auto 1rem;
}

/* media queries */
@media screen and (min-width: 740px) {
  .section {
    width: 740px;
  }

  .work-card {
    border: 1px solid lightgray;
    padding: 2rem;
  }
}
